/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  line-height: 1;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration and underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
